.game-container {
    background-color: #000000b5;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.middle{
  
}

.player-card{
  cursor: pointer;
  &:hover{
    scale: (1.1);
  }
}

.card-stack {
    position: relative;
    >button {
        margin-top: 234px;
    }

}
img {
    width: 120px;
}
.cover-card {
    width: 150px;
    border-radius: 12px;
    position: absolute;
    cursor: pointer;
}

.player-position {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 1;
}


.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }