@for (player of game.players; track $index) {
    <app-players class="player-position" [ngStyle]="{'top.px': 100 + ($index *110)}" [name]="player"></app-players>
}

<div class="game-container">
    <div class="card-stack">
        <!-- Stapel mit Karten wird gerendert -->
        <ng-container *ngFor="let card of game.stack; let i = index">
            <img *ngIf="i < 5" class="cover-card" src="./assets/img/cards/cover.png" [ngStyle]="{'right.px': i * 10}" alt="Card Stack">
        </ng-container>
        <button (click)="handOut()" id="handOut">Hand out cards</button>
    </div>

    <!-- Hier könntest du die Karten der Spieler anzeigen, nachdem sie ausgeteilt wurden -->
    <div class="players-hands">
        <ng-container *ngFor="let player of game.players; let i = index">
            <div class="player">
                <span>{{ player }}</span>
                <!-- Hier könntest du die Handkarten des Spielers anzeigen -->
                <ng-container *ngFor="let card of this.game.playerHands[i]">
                    <img class="player-card" [src]="'./assets/img/cards/' + card + '.png'" alt="{{ card }}">
                </ng-container>
                <span class="card-number">{{ this.game.playerHands[i]?.length || 0 }}</span>
            </div>
        </ng-container>
    </div>
</div>
