.player {
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.397);
    width: 200px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 30px;
    color: white;
    padding: 20px 0;
    span {
        font-size: 30px;
        margin-left: 20px;
    }
    >img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 100%;
    }
}
.card-number {
    border: solid 1px white;
    padding: 5px;
}
.player-avtive {
    background-color: orange !important;
    color: black;
    width: 250px !important;
}